:root, *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'El Messiri', sans-serif;
    scroll-behavior: smooth;
}

/*** HEADER ***/
.header {
    position: relative;
    width: 100%;
    height: 650px;
    /* background-image: linear-gradient(to right,  rgba(7, 5, 148, 0.616) 0%,rgba(27, 48, 236, 0.685) 100%),
                      url(../img/iphone.png); */
    /* background-image: linear-gradient(to right, rgba(107, 17, 203, 0.589) 0%,
                    rgba(37, 116, 252, 0.699) 100%),
                      url(../img/iphone.png); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .8) 0%, 
                    rgba(0, 0, 0, .8) 100%), url(../img/iphone.png); */
    background-image: linear-gradient(-20deg, rgba(185, 33, 255, 0.692) 0%, rgba(33, 213, 253, 0.712) 100%),
                      url(../img/iphone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.textos-header {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.textos-header h1 {
    font-size: 60px;
}

.textos-header p {
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-header a {
    display: inline-block;
    padding: 12px 15px;
    background-color: #a18cd1;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
}

.div-svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

/*** ESTILOS OLA AZUL ***/
.div-wave {
    height: 150px;
    overflow: hidden;
}

.svg {
    height: 100%;
    width: 100%;
}

.path {
    stroke: none;
    /* fill: #08f; */
    fill: #fff;
}
/*** FIN ESTILOS OLA AZUL ***/
/*** FIN HEADER ***/
/* minuto 8:38 */